.App {
  display: inline-block;
  text-align: center;
}

.darker-border-box {
  border: 1px solid rgb(222, 222, 222);
  background-color: rgb(242, 239, 225);
}

.top-container > div {
  float: left;
  margin: 0.5em;
} 

.top-container {
  display: inline-block;
}

.bottom-container {
  text-align: left;
  margin: 0 0.5em;
}

.left-side-container > div {
  margin-bottom: 1em;
  width: 15em;
}

.left-side-container {
  margin: 0.5em 0;
}

.patch-row {
  display: inline-block;
  vertical-align: top;
}

.patch-tile {
  font-size: 12px;
  height: 60px;
  width: 60px;
  border: 3px solid rgb(200, 200, 180);
  margin: 10px
}

.buyable-tile {
  border: 2px dashed rgb(170, 150, 170);
}
