.App {
  display: inline-block;
  text-align: center;
}

.darker-border-box {
  border: 1px solid rgb(222, 222, 222);
  background-color: rgb(242, 239, 225);
}

.top-container > div {
  float: left;
  margin: 0.5em;
} 

.top-container {
  display: inline-block;
}

.bottom-container {
  text-align: left;
  margin: 0 0.5em;
}

.left-side-container > div {
  margin-bottom: 1em;
  width: 15em;
}

.left-side-container {
  margin: 0.5em 0;
}
