@import '../elm/login/login';
@import 'base';

body {
  background-color: rgb(236, 239, 243)
}

.float-right {
  float: right;
}

.full-height {
  height: 100%;
}

.no-side-pad {
  padding-left: 0;
  padding-right: 0;
}

.hidden {
  display: none;
}

.top-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.top-bar {
  height: 40px;
  margin-right: 0;
  margin-left: 0;
  background-color: $main-blue;
}

.top-bar-controls {
  height: 100%;
}

.photo-button-container {
  height: 100%;
  padding-right: 0;
}

.nav-button-container {
  height: 100%;
  padding-left: 0;
}

.activity-indicator {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 25px;
    width: 25px;
    animation: spin 2s ease-in-out infinite;
    padding: 5px 0px;
}

.activity-indicator-container {
  padding-top: 7px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button {
  height: 100%;
  background-color: $main-blue;
  border: 3px solid $main-blue;
  color: white;
}

.search-button {
  padding: 0;
  /*border-right: 1px solid rgb(197, 200, 204);*/
}

.button:hover {
  border-bottom: 3px solid white;
}

.btn-secondary {
  border: none;
  background-color: inherit;
}

.btn-secondary:hover {
  border: none;
  color: $main-blue;
}

/*Override Elm's inline styles*/
img {
  margin-left: auto     !important;
  margin-right: auto    !important;
  width: auto           !important;
  height: auto          !important;
  max-height: 100%      !important;
  max-width: 100%       !important;
  flex: 1;
  overflow: auto;
}

.search-element {
  padding: 5px 0px;
  height: 100%;
}

.place-input-element {
  width: 100%;
  border-style: solid;
  border-color: rgb(197, 200, 204);
  border-width: 1px;
}

.input-box {
  height: 100%;
  border-radius: 3px;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  top: 35px;
  background-color: white;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  border-top-style: none;
}

li:not(:first-child) {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(225, 228, 234);
}

li {
  padding: 3px 5px;
}

li:hover {
  background-color: rgb(225, 228, 234);
  cursor: pointer;
}

.secondary-photo-controls {
  position: absolute;
  width: 30%;
  background-color: rgb(56, 56, 56); /*TODO: Needs a more sensible color*/
  top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.toggle-sec-controls {
  background-color: rgb(56, 56, 56);
  color: rgb(225, 228, 234);
  border: 0 solid rgb(56, 56, 56);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 0;
  padding-right: 0;
}

.toggle-button-container {
  height: 35%;
}

.sec-content {
  height: 65%;
  color: rgb(225, 228, 234);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.slide {
  -webkit-transition:height, 0.2s ease-in-out;
  -moz-transition: height, 0.2s ease-in-out;
  -ms-transition: height, 0.2s ease-in-out;
  -o-transition: height, 0.2s ease-in-out;
  transition: height, 0.2s ease-in-out;
}

.closed {
  height: 0px;
}

.open {
  height: 40px;
}

.number-label-container {
  text-align: center;
}

.number-label {
  vertical-align: middle;
  font-size: 12px;
}

.nav-link {
  line-height: 40px;
  padding: 0px 10px;
  color: white;
}

.nav-link:hover {
  text-decoration: none;
  color: rgb(217, 217, 217);
}

.nav-menu {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  top: 40px;
  background: $main-blue;
}

.nav-menu-item {
  display: inline-block;
}

.modal-dialog {
  position: fixed;  
  /* height: 30%;  */ 
  width: 30%;  
  top: 20%;  
  margin-left: auto;  
  margin-right: auto;  
  left: 0;  
  right: 0;  
  background: white;
  z-index: 101;
  border-radius: 8px;
}

.modal-dialog-backdrop {
  position: fixed;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  background: black;  
  opacity: 0.3;  
  z-index: 100;
}