<div ng-controller="monitorController as controller">
  <form class="stop-search top-box" ng-submit="controller.submitRequest()">
    <span class="prompt-text">Hae pysäkki: </span>
    <input class="stop-input" list="stops" ng-model="controller.shadowStopName">
    <datalist id="stops" class="stop-suggestion-list">
      <option ng-repeat="(key,val) in controller.stops" value="{{ key }}"></option>
    </datalist>
    <input class="search-button" type="submit" value="Hae">
  </form>

  <div class="arrival-data content-box">
    <div class="error-text">
      {{ controller.errorText }}
    </div>
    <table class="arrival-list">
      <tr>
        <th>Linja</th>
        <th>Aika saapumiseen</th>
      </tr>
      <tr ng-repeat="arrival in controller.arrivalTimes">
        <td class="table-item-left">{{ arrival.line }}</td>
        <td class="table-item-right">
          <span class="time-span">{{ arrival.time }}</span>
          <progress class="arrival-progress"
                    value="{{ arrival.time }}"
                    max="{{ controller.timeMax }}">
          </progress>
        </td>
      </tr>
    </table>
  </div>
</div>
