body {
  font-family: sans-serif;
  background-color: rgb(230,230,230);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.top-level {
  margin: auto;
  width: 40%;
}

.nav-bar {
  background: linear-gradient(hsl(107, 80%, 38%), hsl(107, 100%, 18%));
  height: 45px;
}

.nav-link {
  display: inline-block;
  font: 18px "Verdana", sans-serif;
  color: white;
  text-decoration: none;
  padding: 10px 10px 0px 10px;
  margin-left: 10px;
}

.nav-link:hover {
  text-decoration: underline;
  color: rgb(220,220,220);
}

.main-container {
  min-width: 250px;
}

.top-box {
  height: 35px;
  padding: 10px;
  background-color: rgb(194, 252, 146);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 3px 3px 3px #888888;
}

.prompt-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-family: "Tahoma", sans-serif;
}

.stop-input {
  width: 200px;
  height: 25px;
  font-size: 16px;
  border-style: none;
  border-radius: 2px;
}

.search-button {
  height: 35px;
  font-size: 16px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(182, 214, 156);
}

.search-button:hover {
  background-color: rgb(215, 226, 206);
}

.arrival-data {
  min-height: 300px;
}

.content-box {
  box-shadow: 3px 3px 3px #888888;
  background-color: rgb(215, 226, 206);
}

.arrival-list {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border-spacing: 0;
}

th, td {
  padding: 3px 10px 3px 10px;
  text-align: center;
  font-size: 18px;
  font-family: "Verdana", sans-serif;
}

.table-item-right {
  border-left-color: rgb(18, 89, 0);
  border-left-style: solid;
  border-left-width: 2px;
}

th {
  color: rgb(18, 89, 0);
  border-bottom-color: rgb(18, 89, 0);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.show-route-stop-link {
  display: block;
}

.stop-info-list {
  display: inline-block;
  vertical-align: top;
}

.line-list {
  margin-top: 8px;
  width: 400px;
}

.show-route-stops-link {
  margin-left: auto;
  margin-right: auto;
}

.stop-list-box {
  padding: 10px;
  min-height: 500px;
  min-width: 500px;
  font-family: "Tahoma", sans-serif;
}

.stop-list-container {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.stop-list {
  padding: 0px 20px 0px 20px;
}

.stop-list-header {
  text-align: center;
  margin: 10px 0px 10px 0px;
  color: rgb(18, 89, 0);
}

progress::-webkit-progress-bar-value {
  background:rgb(182, 214, 156);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(18, 89, 0);

}
progress::-webkit-progress-value {
  background:rgb(182, 214, 156);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(18, 89, 0);

}
progress::-moz-progress-bar {
  background: rgb(182, 214, 156);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(18, 89, 0);

}

.arrival-progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 25px;
  background-color: rgb(215, 226, 206);
}

.time-span {
  position: absolute;
}
