body {
  background-color: rgb(200,200,200);
}

.game-container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-bottom: 30px;
  margin-top: 50px;
  font-family: "Verdana", sans-serif;
  width: 40%;
  height: 40%;
  text-align: center;
  min-width: 350px;
}

.greetings {
  background-color: hsl(217, 100%, 93%);
  padding-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 30px;
}

.greeting {
  font-size: 40px;
  font-family: 'Fugaz One', sans-serif;
}

.greeting2 {
  font-size: 12px;
}

.points {
  font-size: 20px;
  color: gray;
  margin-top: 15px;
  padding-bottom: 10px;
}

.number {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.guess-input {
  width: 140px;
  height: 30px;
  border-radius: 4px;
  border-style: solid;
  font-size: 16px;
}

.cur-points {
  margin: 10px 0px 5px 0px;
}

.highscore {
  margin: 5px 0px 10px 0px;
}

.msg-display {
  height: 20px;
}

.highscore-container {
  width: 30%;
  min-height: 100px;
  background-color: white;
  font: 14px "Trebuchet MS", sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 20px auto 20px auto;
  border-radius: 20px;
  min-width: 250px;
}

.highscore-table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}

.name-cell {
  text-align: right;
  padding: 5px;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: hsl(217, 80%, 77%);
  width: 20px;
}

.points-cell {
  text-align: left;
  padding: 5px;
  width: 20px;
}

.score-row {
  padding: 5px 0px 5px 0px;
}

.highscore-table-header {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: hsl(217, 80%, 77%);
}

.highscore-header {
  text-align: center;
}

.highscore-form {
    vertical-align: top;
}

.name-input {
  border-radius: 2px;
  border-style: solid;
}

.input-error {
  border-color: hsl(352, 61%, 48%);
}

.submit-score-button {
  margin-left: 5px;
}
