body {
  background-color: rgb(220,220,220);
}

#main {
  background-color: rgb(252,227,226);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  padding-top: 50px;
  margin-top: 50px;
  font-family: sans-serif;
  width: 40%;
  height: 300px;
}

.greeting {
  font-size: 40px;
  font-family: 'Fugaz One', sans-serif;

}

.greeting2 {
  font-size: 12px;
  margin-bottom: 15px;
}

.points {
  font-size: 20px;
  color: gray;
}

.number {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.msg-display {
  height: 20px;
}
