.square {
  border: 0.125rem solid rgb(227, 233, 236);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s;

  &/* .square */.closed {
    background-color: gray;

    &:hover {
      background-color: rgb(149, 165, 173);
    }
  }

  &/* .square */.open {
    background-color: rgb(251, 251, 251);
    box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.15);
  }

  &.marked {
    background-color: rgba(252, 129, 40, 0.8);

    &:hover {
      background-color: rgba(252, 129, 40, 0.5);
    }
  }
}

